#parkingspaceno {
	border-radius: 4px;
	/* font-size: 50px; */
	padding: 12px;
	/* height: 50px */
}

.field_label {
	font-size: 16px;
}

.failedTextArea, #dailyCheckReport {
	width: 100%;
	border-radius: 5px;
	padding: 5px;
}


#button_submit {
	/* padding: 16px; */
	/* font-size: 50px; */
	/* border-radius: 16px; */
	width: 100%
}

